/*general formating*/
html, body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-size: 1.875rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

p{
    line-height: 1.7;
}

.quote{
    font-family: 'Berkshire Swash', cursive;
    font-size: 2.25rem;
    text-align: center;
    line-height: 1.4;
}

a{
    text-decoration: none;
    color: #000;
}

.button{
    color: #ffffff;
    background-color: #ff0000;
    text-transform: uppercase;
    font-size: .875rem;
    font-family: 'Anton', sans-serif;
    padding: .9375rem 1.875rem;
    font-weight: bold;
}

.button:hover{
    background-color: rgb(214, 2, 2);
    cursor: pointer;
}

.screen a:hover, footer a:hover{
    font-weight: bold;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 768px){
    .screen{
        display: none;
    }
    .mobile{
        display: block;
    }

    .button{
        font-size: .75rem;
    }

    p, span{
        font-size: .875rem;
    }

    h2, .quote{
        font-size: 1.5625rem;
    }
}

/*styling for social media icon*/
.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

/*header section*/
nav{
    max-width: 100%;
    display: flex;
    padding: .625rem 3% 0 3%;
    align-items: center;
}

.logo{
    flex: 1;
    display: block;
}

ul{
    display: inline-flex;
}

li{
    margin-left: 1.875rem;
    list-style: none;
}

#background{
    height: 31.25rem;
    background-image: url(../images/marathon-club-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    position: relative;
    max-width: 100%;
}

.background{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    height: inherit;
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.background-content h1{
    font-family: 'Oswald', sans-serif;
    font-size: 4.375rem;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

.background-content p{
    margin-bottom: 1.875rem;
    font-size: 1.25rem;
}

@media only screen and (max-width: 768px){
    nav{
        padding: .3125rem 3%;
    }

    nav .mobile{
        display: flex;
        align-items: center;
    }

    .logo img{
        width: 50px;
    }

    .mobile .button{
        margin-right: 25px;
    }

    .background-content h1{
        font-size: 3.125rem;
        font-weight: 700;
    }
    
    .background-content p{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px){
    #background{
        height: 21.875rem;
        font-weight: 500;
    }
    
    .background{
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        max-width: 100%;
    }

    .background-content h1{
        font-size: 2.5rem;
    }
}


/*body styling*/
.quote-section{
    padding: 3.125rem 5% 3.125rem 2%;
    display: flex;
}

.social-media{
    display: flex;
    flex-direction: column;
    width: 12.5rem;
    align-items: center;
    font-weight: bold;
    margin-right: 3.125rem;
    text-align: center;
}

.quote-section .quote{
    align-self: center;
}

@media only screen and (max-width: 768px){
    .quote-section{
        padding: 0 5% 3.125rem 5%;
        display: block;
    }

    .social-media{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        font-weight: bold;
        margin-bottom: 3.125rem;
    }

    .social-media p{
        display: none;
    }
}

/*becoming a marathoner style*/
#reason, #team{
    padding: 3.125rem 5%;
    background-color: rgb(50, 50, 50);
}

.section{
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-container{
    width: 40%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.reason-image{
    background-image: url(../images/why-marathon.jpg);
    background-position: center right;
}

.team-image{
    background-image: url(../images/Join\ a\ team.jpg);
}

.article{
    padding:0;
    margin: 0;
    color: white;
    max-width: 60%;
}

p.span{
    margin-bottom: 2.1875rem;
}

@media only screen and (max-width: 768px){
    .image-container{
        width: 100%;
        background-position: center;
    }

    .article{
        max-width: 100%;
    }
}

/*styling for take action section*/
.act{
    padding: 3.125rem 5%;
    text-align: center;
}

.act h2{
    margin-bottom: 20px;
}

/*footer*/
footer{
    padding: 3.125rem 5%;
    display: flex;
    background-color: rgb(50, 50, 50);
    color: white;
}

.contact, .address{
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 1;
}

.designer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer a{
    color: white;
}

@media only screen and (max-width: 768px){
    footer{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        gap: 35px;
    }
    
}
